@font-face {
	font-family: "Feijoa";
	src: url("FeijoaTest-Medium.woff")
	format("woff");
}



body, p, h1 {
	margin: 0;
	padding: 0;
}

#container {
	text-align: center;
}

h1 {
	font-family: helvetica, sans-serif;
	font-size: 17.8vw;
	letter-spacing: -1vw;
}

.body-text {
	font-family: "Feijoa";
	font-size: 30px;
	max-width: 800px;
	letter-spacing: .1px;
	display: inline-block;
	text-align: left;
	line-height: 1.1;
	margin: 40px 40px;
}

img{
	width: 50%;
}

@media only screen and (max-width: 600px){
	.body-text{
		font-size: 18px;
		letter-spacing: 0px;
	}
}