body{
margin:5vh 0vw 8vh 5vw;
font-family: Roboto;
background-color: black;
}

p{
margin: 0;
}

#box{
width: 8%;
height: 8vh;
margin: 3px 1px 3px 1px;
border-style: solid;
border-width: 1px;
border-color: black;
text-align: center;
vertical-align: middle;
display:inline-block;
line-height: 8vh;
letter-spacing: 0.2vw;
font-size: 2vw;
color: black;
background-color: black;
}

#box:hover{
color: white;
}

a:clicked{
color: black;
text-decoration: none;
}

a{
color:black;
text-decoration: none;
}

a:hover{
color:white;
text-decoration: none;
}
